[2016-01-29 14:42] gyulanemeth opened #1 "Multilevel bullet-points bug"
Hi,

we are trying to add multi-level bullet points in an email and unfortunately, the generated HTML does not match the layout we see in the editor.

Please see attached screenshot.

Editor:
![bullets_in_editor](https://cloud.githubusercontent.com/assets/1527824/12678348/8ca4f80c-c69e-11e5-9d80-f48b44ea29c0.png)

Generated Html:
![bullets_in_html_preview](https://cloud.githubusercontent.com/asset

[2016-01-29 14:43] gyulanemeth commented on #1
We have fixed this issue and it will be included in the next generator release.

[2016-01-29 14:46] gyulanemeth opened #2 "Bullet point lists are not visible on Outlooks"
Hi,

In the last 2 we have more customers who stumbled on a bulletpoint problem.

If you use the bullet point option in de editor the text where you have added the bullet points is not visible anymore when opened in outlook.

[2016-01-29 14:46] gyulanemeth commented on #2
We have checked it and it's not working on Outlook 2013. The issues is fixed, and will be deployed with the next generator release.

[2016-01-29 14:48] gyulanemeth opened #3 "Link sanitize problem"
Dear Support,

Editor version: r20151228

Client reported below strange problem:

When we added a link in text block below:
http://www.ufosend.com/?abc=1&email=$email$

Edmdesigner rendered the link as below after export html:
http://www.ufosend.com/?abc=1&email$email$ (no '=' between email and "$email$")

[2016-02-08 10:50] Mailcamp opened #4 "html bug in gmail on android mobile"
Hi,

The shape of the newsletter changes when opened in gmail on android mobile.
Is there a way how w2e can fix this?

Kind regards,

Silas de Rooy

JSON in ZIP

Screenshot Gmail Android:
![screenshot_2016-02-08-10-46-04](https://cloud.githubusercontent.com/assets/16222817/12883407/2adb8cd2-ce58-11e5-9e58-7e8d5d16415b.png)

Screenshot preview:
![screenshot](https://cloud.githubusercontent.com/asse

[2016-02-08 10:51] #4 closed, assigned to nobody

[2016-02-08 12:08] gyulanemeth commented on #4
Yes, the images might be a little bit streched on gmail app, that is why it's not on our compatibility list: http://edmdesigner.com/compatibility

[2016-02-08 13:06] gyulanemeth commented on #1
Fixed in https://github.com/EDMdesigner/email-html-generator-issues/releases/tag/20160208

[2016-02-08 13:06] #1 closed, assigned to nobody

[2016-02-08 13:06] gyulanemeth commented on #2
Fixed in https://github.com/EDMdesigner/email-html-generator-issues/releases/tag/20160208

[2016-02-08 13:06] #2 closed, assigned to nobody

[2016-02-08 13:06] gyulanemeth commented on #3
Fixed in https://github.com/EDMdesigner/email-html-generator-issues/releases/tag/20160208

[2016-02-08 13:06] #3 closed, assigned to nobody

[2016-03-09 13:27] Mailcamp opened #5 "Links sometimes do not work"
For some reason some links are not clickable. Please check this newsletter: http://api-a.edmdesigner.com/jsonp/project/preview/56d06673ed791bdb372bf8f3?user=http://www.rvdb-mail.nl/mailcamp/admin/%20-%202&token=cb25948e273dbd57e6b29d926f8140b2
Under ‘NIEUWE  HR VACATURES’ you see ‘Corporate Recruiter’. De URL in the HTML is;
http://www.rvdb.nl/vacature/?Recruitment-Consultant%2FRvdB%2FWEESP%2F1005

[2016-03-09 13:45] gyulanemeth commented on #5
Thank you for reporting this, we opened a ticket and will fix it in this sprint (which has started a few minutes ago).

[2016-03-16 16:07] agnieszkakowalska opened #6 "'Hide on mobile' option doesn't work"
I created a message using EDM  composed of 3 box elements. For the middle one I enabled option "Hide on mobile" but when I send it to my mobile I can see it's still visible.

Samsung Galaxy S5 (SM-G900F)
Android 5.0
It's a default Android email client

[2016-03-17 07:42] agnieszkakowalska commented on #6
Hi, we just noticed that hiding on mobile columns from multicolumn element doesn't work as well

[2016-03-17 08:10] rolficak commented on #6
Gmail app is the default application on Android 5.0+

We don't support Gmail (nobody does right now), but the good news is that we are working on a hack to fix Gmail app as well (it's still in research/dev phase, so there's no release that for this yet)

[2016-03-17 12:02] agnieszkakowalska commented on #6
OK, thank you

[2016-03-17 12:03] #6 closed, assigned to nobody

[2016-03-17 13:53] RichardMailcamp opened #7 "problem with multi column"
Hi, A client had a problem that i cannot fix. Couple of things with the multi clomn that just dont seem right.  Double images next to eachother or double text boxes are fine, but text and image is a mess. See json and images. Also, the top multi column doesnt adjust properly with a different color. See capture 2

Thanx, Hope you can reply within the coming days,

Richard

[56eab2a9008b1c5d4c3fc4ef

[2016-03-17 14:29] rolficak commented on #7
@RichardMailcamp Please provide more information about the source of the screenshot (email client, device, etc).

This template looks exactly as expected in supported email clients:
https://litmus.com/pub/516ab00

[2016-03-22 11:23] RichardMailcamp commented on #7
Hmm.. That is very strange indeed. In outlook (2016, my email client on PC) it looked exactly as the screenshot provided. When looking at your previews I was pretty stunned that it looked the way it did. I changed some things in the template for the client, so he could continue working on it. So there is no big rush, but things like the different color in the top menubar (contactgegevens) he would

[2016-03-22 11:28] rolficak commented on #7
Hi Richard, we are not working on this one since couldn't even reproduce the issue - still not sure where have you captured this screenshot. The Litmus test shows that everything is working fine.

[2016-03-22 12:28] RichardMailcamp commented on #7
Ok,

Then I’ll communicate to the client that it is an unresolvable/reproducable issue. Thanx for the time anyway

https://www.youtube.com/watch?v=KesPK9uiurI

Met vriendelijke groet,
Richard Crombie

[mc_mail_logo]
Bezoekadres
Nieuwe Hemweg 2
1013 BG Amsterdam

Tel.: +31 (0) 20 705 85 00
Support: support@mailcamp.nlmailto:support@mailcamp.nl
E-mail: richard@mailcamp.nlmailto:richard@mailcamp.nl
W

[2016-03-22 12:32] #7 closed, assigned to nobody

[2016-03-24 13:40] witoldlitwin opened #8 "Images not showing in Outlook 2007"
Hi, one of our clients claims that message images don't show in Outlook 2007 and earlier. Could you check that? Problematic message id is 56f2c6d6ed6112df7127d7ef. Please ignore wrong (relative) URL of logo image - problem is with ALL images.

[2016-03-30 11:21] gyulanemeth commented on #8
Thank you for reporting this, we will investigate it asap.

[2016-03-31 07:25] witoldlitwin commented on #8
Thanks! An update from the client: "images don't work with the links that EDM is generating but if we use the same images uploaded externally - it works"

[2016-03-31 11:55] LoveridgeAdestra opened #9 "'Large' email templates don't return HTML"
One of our clients has been creating an email campaign in our system using the EDM API but they are having problems. It seems that the length of the email is causing the EDM API to return errors and we don't get any HTML back.

I've attached the template JSON to this ticket.
[56fbbdd98c2ef84e0b8b4ea6.json.txt](https://github.com/EDMdesigner/email-html-generator-issues/files/197483/56fbbdd98c2ef84e

[2016-04-05 13:17] gyulanemeth commented on #9
Hello,

if you change the content type of the request to "application/json", then it should be okay. Also, the payload of the request will be much smaller.

I hope it will solve your problem.

[2016-04-11 08:56] Mailcamp opened #10 "email width in outlook 2013 is 510px instead of 600px"
[Here an email where it happends.](http://www.vermeulenmailservice.nl/mail/display.php?List=18&N=775)

can you fix this??

[2016-04-11 09:12] rolficak commented on #10
Please attach the JSON file too.

[2016-04-11 09:16] Mailcamp commented on #10
i tried, but github keeps saying:
Unfortunately, we don’t support that file type.  Bestanden kiezen Try again with a PNG, GIF, JPG, DOCX, PPTX, XLSX, TXT, PDF, or ZIP.

And yess i zipped the JSON file ofcourse :package:

[2016-04-11 09:16] Mailcamp commented on #10
i'll send you the JSON by mail

[2016-04-11 09:19] rolficak commented on #10
Here's a test with the HTML. https://litmus.com/checklist/emails/public/ce51516 Everythin is okay with Outlook 2013, maybe on 2013 120dpi, there might be something different. Text is enlarged.

If you change the filetype to json.txt for example, than Github will allow the upload. Unfortunately they ban JSON files for some reason... (and even check the ZIP for it)

[2016-04-11 09:40] Mailcamp commented on #10
Ok thanks for the fast reply!
We will check it!

[2016-05-30 06:25] gyulanemeth opened #11 "Social Share mailto bug"
Hi all,

we found a bug when create a forward with social share.

The html generated is

<a
href="mailto:##emailToSend##?&body=%23%23textToShare%23%23%3A%20%23%23linkToShare%23%23"
class="edm_button" style="text-decoration: none;">

on outlook not work properly because the '&' before body params is present.

Please check it.

Best regards
##

Alessandro Rovito
Developer

[2016-05-31 03:56] confettidc opened #12 "When using multi-column with long text, the text will reorder on desktop version"
**My Project ID: 574cfe3729f47ce710132702**

01.
I have a multi-column with left image and right text.
![left-image-right-text](https://cloud.githubusercontent.com/assets/5524183/15662402/d628ac14-2722-11e6-9642-4a13cbfc1ef4.png)

02.
If preview the eDM, the right text will reorder and show below at the left image.
![right-text-reorder](https://cloud.githubusercontent.com/assets/5524183/15662439/4

[2016-06-10 01:30] confettidc commented on #12
Anyone can update this issue?

Thanks.

[2016-06-14 13:30] gyulanemeth opened #13 "Link sanizite problem"
Hi, I have a problem: I want to assign a link to image https://www.facebook.com/sharer/sharer.php?u=https://apascrum.com/r/d65bcba29a&title=Apa is great BUT it gets shrinked down by your tool to www.facebook.com/sharer/sharer.php?u=

[2016-06-15 07:38] gyulanemeth commented on #12
Hello,

having long lines without whitespaces in emails is generally a bad practice, it will break the design in several cases, not this case only. It even can enlarge the width of the email. Please don't use long lines without whitespaces.

[2016-06-15 07:38] #12 closed, assigned to nobody

[2016-06-16 08:01] gyulanemeth commented on #9
Hello, have you tried to set the content type of the request to application/json?

[2016-06-16 08:02] gyulanemeth commented on #8
Hello,

can you please attach example jsons to this issue, so we can investigate?

[2016-06-16 08:04] #10 closed, assigned to nobody

[2016-06-16 08:54] gyulanemeth commented on #11
Hello, what was the original link?

[2016-06-16 12:06] gyulanemeth commented on #13
Hey, we figured it out that it's not the generator which causes the problem, but the editor itself. It saves the shortened version of the link. We will fix it in the next editor version.

[2016-06-16 13:03] agnieszkakowalska commented on #8
Hi Gyula, can you find it by id 56f2c6d6ed6112df7127d7ef ?

[2016-06-30 14:14] ughoo opened #14 "Width bug of bordered images"
Inside the editor, the image with border keeps the size what we set with the image size bar. When we see the desktop preview the image has the original widths and heights, and applies borders around this value...which can brake the layout. Please apply the shrinked dimension to the image in case of use of borders.

[2016-06-30 14:29] ughoo opened #15 "YahooMail update 06/2016 needs fix"
Previously exists Yahoo layout bugs has a fix, table-layout:fixed; It's turn from workaround to a bug, so we need to remove it.

[2016-06-30 14:42] gyulanemeth opened #16 "Mailto problem on links on images"
If we add an email link around the image, then in the generated html there will be a space between "mailto:" and the email address itself. There should be no space in between them.

[2016-07-04 13:34] gyulanemeth commented on #11
I have checked the issue, and it seems like the subject query string param is missing from the social share element. Actually it's coming from the editor side. There I can replace it to this:
mailto:##emailToSend##?title=##text##&body=##text##:%20##link##

Would that be okay?

[2016-07-04 13:58] m33ch commented on #11
the problem is not about the subject, actually the button add the "view on browser url" in the body of the email, and an empty subject. This is correct.
The problem is that outlook doesn't understand the mailto link.

In the image 1 you can see the link
In the image 2 you can see the resulting email.

In other email clients the link work good, creating an email with a link in the body.

![1](https

[2016-07-06 07:51] gyulanemeth commented on #11
Yes, but as far as I can see it could happen because by mistake there was no subject part in the link.

We can do two things:
1) We add the subject part, so the link will look like this:
    mailto:##emailToSend##?subject=##text##&body=##text##:%20##link##
    This way the subject line will be filled automatically with the value you replaced ##text## with
2) We simply delete the & sign from the li

[2016-07-06 08:00] m33ch commented on #11
I also think that the first solution is the best.

Thank you

[2016-07-06 08:26] gyulanemeth commented on #5
It's fixed and deployed.

[2016-07-06 08:26] #5 closed, assigned to nobody

[2016-07-06 10:28] Mailcamp opened #17 "Spacing changes in hotmail"
Hi,

The spacing in two textfields changed when the newsletter is sended to hotmail.
How can this be fixed?

![screenshot 2](https://cloud.githubusercontent.com/assets/16222817/16615125/b7e9166c-4374-11e6-9189-9c4dbda279d6.png)

[577b826c54ca1cda34bbd165.json (2).txt](https://github.com/EDMdesigner/email-html-generator-issues/files/349552/577b826c54ca1cda34bbd165.json.2.txt)

Thanks in advance

[2016-07-06 11:33] gyulanemeth commented on #15
Fixed and deployed.

[2016-07-06 11:33] #15 closed, assigned to nobody

[2016-07-06 11:41] gyulanemeth commented on #8
Hello, I was trying to find the project, but I could not find any projects with this id.

[2016-07-10 10:03] #16 closed, assigned to nobody

[2016-07-11 16:22] ughoo commented on #17
Hi,

Hotmail/outlook.com is very curios about typography, and has a lots of heuretics like solution to override texts in different cases. The only one difference i saw, is the second textbox contains an BR after the first bolded line. This break can achieve that hotmail rendering could choose a different behavior.... i guess.... Please try to remove that line break and please check the results...

[2016-07-13 16:12] gyulanemeth commented on #11
It is fixed and deployed. The users who had problems with the social share element might need to change the layout of the social share element and change it back to  fix the problem with the link. Also, they might need a hard refresh while they are using the editor.

[2016-07-13 16:12] #11 closed, assigned to nobody

[2016-07-15 07:55] Mailcamp commented on #17
hmmm strange.. the spacing of the first textbox is back to normal when i remove the br from the second text box. But the second textbox is still wrong. when i remove the second textbox the first textbox gets wrong again. have you any idea what to try next?

[2016-07-17 14:47] ughoo commented on #17
Try duplicate the good and bad textboxes, check them a few times, try to delete one by one, while still checkin all variations. There is no documented details about how these MS typo manipulations works....somehow it can relates to the number of html tags used in the code but no clue to understand the logic behind.

[2016-07-19 10:21] Mailcamp commented on #17
hmmm ok... already tried that before i created this ticket.

[2016-08-04 06:42] gyulanemeth opened #18 "Do not sanitize link, when the protocol is other"
Original message: "please remove the URL escaping when protocol is "other"? "

[2016-09-13 12:35] rolficak opened #19 "Bulletproof + Clickable buttons in email"
https://buttons.cm/

https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design

[2016-10-01 03:16] confettidc opened #20 "502 Bad Gateway when generate html (top urgent)"
Dear Support,

We received "502 Gateway Timeout" page when generate html for **any project**:
![2016-10-01_11-11-39](https://cloud.githubusercontent.com/assets/5524183/19011467/4e0c2958-87c8-11e6-81c0-d1e6c9ea53b7.gif)

As our customer is going to send eDM **today**, please solve this problem as soon as possible.
Please solve it as soon as possible.

Thanks!

[2016-10-03 11:27] gyulanemeth commented on #20
Hello, we have fixed it on Saturday morning. Sorry that it happened.

[2016-10-03 11:27] #20 closed, assigned to nobody

[2016-11-18 08:35] agnieszkakowalska opened #21 "Difference in the way messages look on different devices and OS"
Our client noticed, that messages look differently on some devices. For example:

EDM Project ID: 57ff9f9e3031fd52085202ec
api: API_EXPERTSENDER
user: Unit_1504

I tried to open this message on different OS and devices and this is how it looks like:

CORRECTLY (like on desktop browser):

OS: IOS 7.1.2;
Email provider: Gmail (browser);
Browser version: Safari
Screnshot name: Browser_Gmail_IOS_1; Br

[2016-11-18 09:17] rolficak commented on #21
Hi Agnieszka,

We don't support Yandex.ru - http://edmdesigner.com/compatibility
Browser view on Android or iOS is neither on the list.
Based on the screenshot they don't support responsive CSS.

Gmail recently started supporting responsive design, but on iOS updates are
late, that might cause the issues you show on iOS.

So there's nothing we could fix on these screenshots right now.
ᐧ

Roland Po

[2016-12-06 06:27] confettidc opened #22 "Mail content align left problem in Android native mail client"
Dear Support,

Project ID: 584619c8c7d5f2584ed90f5c

We discovered the whole mail content will keep align left when view in native mail client in Samsung Galaxy Note5:

![default](https://cloud.githubusercontent.com/assets/5524183/20915300/05ade7f6-bbc0-11e6-8d49-a8bf402eaf20.png)

Can this be solved or can the fullwidth element can set width greater than 600px?

Thanks.

[2016-12-12 13:49] agnieszkakowalska commented on #21
Hi Roland, Thanks for the reply. Is it possible to add support for Mail.ru app and Yandex in the future?

[2016-12-12 14:20] rolficak commented on #21
Do you know of any online test solutions (like Litmus) which would provide
inbox preview of these email clients?

ᐧ

Roland Pokornyik
CEO, Co-founder @ EDMdesigner.com

+36-70-608-4433

*Schedule <http://www.meetme.so/Roland-EDMdesigner> a Skype chat with me!*

On Mon, Dec 12, 2016 at 2:49 PM, agnieszkakowalska <notifications@github.com

[2016-12-14 11:28] rolficak opened #23 "Enable superscipt in text"
Got this feedback from a prospect and wanted to figure out why don't we support superscripts.

Here's the way they do it:

'<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<sup style="font-size:60%;line-height:0;vertical-align:5px">1-3</sup></p>'

This is just an example like how we usually do superscripts
You can see how it works

https://litmus.com/checklist/public/aab9cb4

[2016-12-14 11:29] rolficak commented on #23
click edit in waffle to see code

[2016-12-15 16:17] ughoo commented on #23
we not supports subscript and superscript, because half of the supported clients ignores it, and also it has a serious isue with line-height.... so if we enable, than multi-line texts will distorting on that line, which has the superscript...because its a cheat of normal line-heights....

[2016-12-15 16:24] ughoo commented on #23
and here is the multiline version, where all clients fails.. https://litmus.com/pub/d2ae099

[2016-12-20 07:19] agnieszkakowalska commented on #21
Isn't Mail.ru available in Litmus? https://litmus.com/blog/mail-ru-previews-now-available-in-litmus

[2016-12-21 14:06] gyulanemeth commented on #21
Yes, Mail.ru is available in Litmus. Unfortunately Yandex is not.

[2016-12-21 14:41] agnieszkakowalska commented on #21
So will you add support for Mail.ru? When can you add it? I don't know if Yandex is available in any other client.

[2017-01-13 13:54] agnieszkakowalska commented on #21
Hi, can you answer my questions above?

[2017-01-13 15:07] rolficak commented on #21
It's not on our short term roadmap, but we'll look into it.

Mail.ru is one of the trickiest email clients as far as I know.
ᐧ

Roland Pokornyik
CEO, Co-founder @ EDMdesigner.com

+36-70-608-4433

*Schedule <http://www.meetme.so/Roland-EDMdesigner> a Skype chat with me!*

On Fri, Jan 13, 2017 at 2:54 PM, agnieszkakowalska <notifications@github.com

[2017-01-13 15:47] agnieszkakowalska commented on #21
Mail.ru and Yandex support is really important for us as we have a huge Russian market - can you say more or less when it could be added? Or any minimum time required for working on it? Is adding Yandex also doable?

[2017-01-13 20:03] ughoo commented on #21
Sorry for late reply. I need to check those clients in details, and to find the proper way to support, - if it's possible. I'll reply on this topic, with the results, as soon as possible.

[2017-01-19 15:37] ughoo commented on #21
I did the tests on Mail.ru and Yandex.ru, both of them are stable.
(They leave CSS in the html, so border-radius, and other stylish things also works.)

Please let me know, if you have any bugs on these webclients!

[2017-01-23 16:54] #9 closed, assigned to nobody

[2017-01-25 15:49] smiska commented on #17
Hi,

Do you still experience problems related this issue, or have any follow up inquiries or thoughts?
In case you don't have comments during the following week, I will close the issue.
Thanks!

[2017-01-25 15:51] RichardMailcamp commented on #17
I think this was my colleague, i'll forward the mail

Richard

[2017-01-25 17:38] Silassiai commented on #17
You can close this issue

[2017-01-25 19:06] smiska commented on #17
Thanks!

[2017-01-25 19:06] #17 closed, assigned to nobody

[2017-01-25 19:41] smiska commented on #8
Hi @witoldlitwin @agnieszkakowalska ,

I just want to check the current status of this issue.
Please drop a line if this needs any follow up, or can be closed!

Thanks!

[2017-01-26 06:34] agnieszkakowalska commented on #8
Hi @smiska, please close this issue.

[2017-01-26 09:27] #8 closed, assigned to nobody

[2017-01-27 08:50] confettidc opened #24 "Link rendering error"
Dear Support,

Project ID: 588b082831abbe7242c61769

We found an issue that the youtube link http://www.youtube.com/watch?v=$cust_1_video_id$ is rendered as http://www.youtube.com/watch?v#36;cust_1_video_id#36; (missing "=" after "v")
![image](https://cloud.githubusercontent.com/assets/5524183/22365096/a82a4a92-e4b0-11e6-86a9-2cf5c0bfbb18.png)

This will highly affect customers to click the wrong

[2017-01-27 11:56] agnieszkakowalska commented on #21
Hi @ughoo, we made several tests with the settings of different elements of the message and the worst problems were solved. Now the main problem is the font size. In some applications it is too small for comfortable reading (like on the screenshot called SMALL_FONT.jpg). In other applications the size of the message is too big and there is no ability to see the whole message on the screen of a pho

[2017-01-27 20:28] ughoo commented on #21
So it means, that Yandex and Mailru apps and mobile versions of webmail in mobile browsers shows desktop version...with two different behavior. This only can happen, when those apps and webmails are ignores all media queries included in our html. - Without Media Queries, we are not able to suppport proper view in those email clients.

If there is any documented clue, how these apps can handle medi

[2017-02-13 14:32] stubendek commented on #24
@smiska - ha szabad, ide jsont kérnék, ha legközelebb beugrasz az adatbázisba.

[2017-02-14 13:06] #24 closed, assigned to stubendek

[2017-02-16 11:42] #23 closed, assigned to ughoo, stubendek

[2017-03-01 09:27] rolficak opened #25 "Maybe: Gmail bug"
One user reported that his email template doesn't show properly on Gmail. It used to show as expected but since today (March 1, 2017) morning it seems to be wrong.

Attached screenshot and JSON.
![screenshot_20170301-072521](https://cloud.githubusercontent.com/assets/6140317/23453673/89e7afc0-fe69-11e6-8d7a-326e9d411de6.png)
[58b13709aa5674f975cb7573.json.zip](https://github.com/EDMdesigner/email-

[2017-03-01 09:30] rolficak commented on #25
I ran a Litmus test with one of our built in templates and yes, there seems to be an issue. Since boxes lost their width and everything is left aligned.
https://litmus.com/pub/2b9b362

[2017-03-01 14:04] rolficak commented on #25
Apart from "text" difference, there's an additional extra space, and some other formatting around the closing td tag that makes the difference.

Left code - fresh export
Code on the right - exported code from January 5, 2017.

![screenshot-www diffchecker com 2017-03-01 15-03-29](https://cloud.githubusercontent.com/assets/6140317/23462992/44ee47ea-fe90-11e6-9526-17fe0de1df2b.png)

[2017-03-01 14:08] puinenveturi commented on #25
@ughoo @stubendek could you checkt this issue?

[2017-03-02 13:03] ughoo commented on #25
I checked the live generator today, and it works on Gmail mobile, as i tested on our devices. There are some issues on Litmus, but they are not up-2-date Gmail apps.

[2017-03-02 13:03] #25 closed, assigned to puinenveturi, ughoo, stubendek

[2017-03-03 12:59] balintsoos commented on #18
Clarification needed for this issue

[2017-03-07 09:57] #13 closed, assigned to balintsoos

[2017-05-03 19:26] ademirdiniz opened #26 "Accented characters error in a text link"
The accented characters are being converted to unknow code. Take a look:

**Original**: https://www.mediapost.com.br/?campanha=Conheça
**EDM**: https://www.mediapost.com.br/?campanha=Conhe#xE7;a

It happens only in text hiperlink. In button or imagem elements it does work well.

[2017-05-09 18:14] ademirdiniz commented on #26
@gyulanemeth ?

[2017-05-15 19:19] ademirdiniz commented on #26
@rolficak ?

[2017-05-22 08:36] Silassiai opened #27 "Firefox - gmail bug"
The newsletter doen not work on firefox in gmail properly.
It does not show some prices, i changed the boxes to buttons but this did not solve the problem.

Can you guys please take a look?

![screenshot_14](https://cloud.githubusercontent.com/assets/18419961/26299204/4ab7c0d6-3eda-11e7-8c6c-a3fde558b1c1.png)

[591d17229ed2cb6c6e194aa2.txt](https://github.com/EDMdesigner/email-html-generator-issue

[2017-05-22 13:53] smiska commented on #27
Hi, thanks for sharing this.
We started to investigate the possible cause,
but couldn't find the solution yet.
I'll keep you in the loop with any updates.

[2017-05-23 13:11] ademirdiniz commented on #26
Hi, @smiska.

Do you have news about this issue?

Thanks

[2017-05-24 12:20] smiska commented on #26
Hi Ademir,

The new version of ckeditor is under testing, it is really important that it works perfectly. If the new version has a different output, it can mess up the HTML generator in the system. For this reason we can only release the update, when we are certain that it has no unknown characteristics.

However, according to my testing the link seems to work well with the current ckeditor too. I

[2017-05-24 13:55] smiska commented on #27
Hi Silassiai,

I checked the template with Litmus and it seems that there's really something wrong in Gmail Firefox.
I don't know what might be the problem, but we had a very similar one last year.

@Greg is the expert with issues like this, but the fix is complicated usually (since it has to do sg with the generator or your specific template structure).

If it is possible, I would advise you to s

[2017-05-26 12:37] smiska commented on #27
Hi,

Greg provided me with the screenshot below. The screenshot shows the inspected Gmail test email.  After a certain level (quite high level) of complexity, gmail is not able to display the nested elements. I examined the source code of the preview that our app generates and it doesn't have the empty table without dimensions. So this bug should be resolved with a simpler template with less box e

[2017-05-26 12:37] #27 closed, assigned to smiska

[2017-05-29 15:41] ademirdiniz commented on #26
Hi, @smiska. Follow some info about this issue:

OS: Debian GNU/Linux 8 (jessie) 64-bit with GNOME Versão 3.14.1
Browser: Google Chrome version 56.0.2924.87 (64-bit)

You can see the error in the follow link:
[https://suporte.mediapost.com.br/mpview.php?ln=DXO5IVWMe152on1abOw5V-dm07kfYYBQOwaU4z2l5eg,](https://suporte.mediapost.com.br/mpview.php?ln=DXO5IVWMe152on1abOw5V-dm07kfYYBQOwaU4z2l5eg,)

[(E

[2017-06-15 15:10] ughoo commented on #22
It's a very sad thing, that Samsung made changes in Android core, so they modify the original behaviors in Note series, that set limits to the CSS, also sometimes ignore width values, that lead to everything aligned to the left.

[2017-06-15 15:10] #22 closed, assigned to ughoo, stubendek

[2017-06-21 14:36] agnieszkakowalska opened #28 "Image does not have full-width class where all other have"
Hi,
We have a problem with one email, in which one of the images does not have full-width class when looking at html code. All other images, when changing the resolution are resized, and one image is not (the one with "-50%"). I've checked that this particular image hasn't got full-width class given. Please investigate why is that and if it is a bug. Settings in editor are the same for all images.

[2017-06-23 12:01] smiska commented on #28
Hi @agnieszkakowalska the image does not have a full-width class, because it's original size is less than 240px. According to our generator presets that should be the case. For larger images the full-width class should be present, meaning that the image would span full width on a mobile screen. I hope it helps.

[2017-07-03 08:56] agnieszkakowalska commented on #28
Hi @smiska could you please shed more light on, where does the 240px limit derive from?
Also, is it possible to lower that limit? Our clients use images lower than 240px sometimes and it is not entirely clear why it is working like that.

[2017-07-10 13:21] RichardMailcamp opened #29 "Newsletter clipped in IOS mail."
Hi. A client is experiencing problems on IOS outlook. Other email cleints on IOS do not have the same problem. Mail is being clipped halfway the "intersport" banner. Any thoughts?

Richard

[adream.txt](https://github.com/EDMdesigner/email-html-generator-issues/files/1135603/adream.txt)

[2017-07-11 08:37] smiska commented on #29
Hi,
Litmus previews show nothing extraordinary in the available clients.
Could you please send us a preview and the iOS and Outlook versions used on the device? Thanks.

[2017-07-12 11:46] RichardMailcamp commented on #29
![ios](https://user-images.githubusercontent.com/17139637/28116219-7c67434e-6708-11e7-88e4-8b3e74dd3f4b.png)
![intersport](https://user-images.githubusercontent.com/17139637/28116229-8966acec-6708-11e7-97cd-99499faea9c6.PNG)
Here u go.

[2017-07-12 11:47] RichardMailcamp commented on #29
Looked fine on android or apple Gmail

[2017-07-12 12:24] RichardMailcamp opened #30 "Alt characters not showing"
Hi, (again)

We encountered a second client this week that cant seem to convert the ► character to HTML from the editor. (and other characters too, apparently)
It is shown in the ediror, but as soon as you send it, it is not shown. Tried it and can confirm (at least in outlook that this is the case)

![char 1](https://user-images.githubusercontent.com/17139637/28117374-777f9dc2-670d-11e7-8878-6045

[2017-07-12 14:56] smiska commented on #30
Hi,
I [ran a test](https://litmus.com/checklist/emails/public/7f10539) with a template on Litmus, where there are special characters, I can spot a this character showing up in the previews, even on Outlooks. Could you please provide the projectID for a broken project? Thanks.

[2017-07-12 15:07] RichardMailcamp commented on #30
Hi...

Sorry to have wasted your time. just found out that is is NOT the case when an example is sent but its the stored HTML from our DB that is the culprit. Apologies for this.

[2017-07-12 15:07] RichardMailcamp commented on #30
You can close

[2017-07-12 15:10] smiska commented on #30
No problem @RichardMailcamp , I'm happy that it resolved. Thanks for taking the time to get back to us.

[2017-07-12 15:10] #30 closed, assigned to nobody

[2017-07-12 15:19] smiska commented on #29
Hi,
We tested this template in a colleague's iPhone 5 with the referenced Outlook App  and there is no problem in the received email. I'm not really familiar with iOS, maybe some sort of updates are causing this, or not the entire template was sent? Maybe the network connection was lost while Outlook was downloading the message? Could you test it again maybe using another device?

(I provide here

[2017-07-14 08:10] Silassiai commented on #29
Hi Smiska,

Can you please check it on iPhone 7 Plus - iOS version 10.3.2
We need a solution, our clients wants to send the newsletter today

[2017-07-14 09:12] smiska commented on #29
Hi @Silassiai ,
Unfortunately, I don't have access to a device with your specification.
However this shouldn't be dependent on th OS version, but only on the
Outlook App. Could you check what version you had on your device,
and if an update on the App resolves this problem?

[2017-07-14 12:46] Silassiai opened #31 "text does not appear in firefox gmail"
Hi,

We have a newsletter that does not show the tekst elements in some box elements.
This happends in firefox gmail.

This is how it looks:
![image](https://user-images.githubusercontent.com/18419961/28212667-cd9cc522-68a2-11e7-9f12-5a2b30d8fc41.png)

This is how it should be:
![image](https://user-images.githubusercontent.com/18419961/28212683-e136dd16-68a2-11e7-926b-b4937d8dbd84.png)

here is t

[2017-07-14 13:26] smiska commented on #31
Hi @Silassiai , this problem appears, when you nest too many elements inside one another. You designed a beautiful template with the colored BOX elements, but unfortunately it is too much for Gmail on Firefox.
I modified the last Full Width element in the template, deleting a few BOX elements (I did only in my app, I left your project untouched), and now it was able to display properly. So definit

[2017-07-14 13:29] Silassiai commented on #31
Ok thanks, i will tell this to our client. 👍

[2017-07-14 13:49] smiska commented on #31
:+1:  I hope it won't be too much trouble for him/her.

[2017-09-05 22:11] #26 closed, assigned to ughoo, stubendek, smiska

[2017-10-05 18:22] smiska opened #32 "Button elements shouldn't escape UTF-8 characters"
"árvíztűrő tükörfúrógép" = "&#xE1;rv&#xED;zt&#x171;r&#x151; t&#xFC;k&#xF6;rf&#xFA;r&#xF3;g&#xE9;p"

when the project is generated.

[See project specific ticket at generator repository](https://github.com/EDMdesigner/eml-generator-service/issues/106)

[2018-03-09 14:58] smiska opened #33 "Long lines in HTML should be clipped"
[Bulletprooflinelenth](https://github.com/EDMdesigner/bulletprooflinelength) needs to be implemented in the generator.

[2018-03-12 14:33] smiska opened #34 "Add bulletprooflist from npm"

[2018-03-12 14:33] smiska commented on #34
wrong repo

[2018-03-12 14:33] #34 closed, assigned to nobody

[2018-03-27 09:05] smiska opened #35 "Link coloring bug"
Some links are not colored on preview (or generation). Some regex invalidation I think.

Examples:
https://www.easyname.at/de/domain/gratis-lets-encrypt-ssl-zertifikat
support@easyname.com - inserted as email link

![image](https://user-images.githubusercontent.com/16736043/37957542-879fc4f4-31ae-11e8-965f-d38d8de25409.png)
![image](https://user-images.githubusercontent.com/16736043/37957552-8beab

[2018-03-29 07:38] agnieszkakowalska opened #36 "Bad image display in Gmail on mobile"
We have spotted an issue with how images are displayed in Gmail mobile app. The images get stretched and loose their original proportions.
Attached you'll find screenshots of the same 2 messages being displayed in Gmail app and native Samsung email client.

GMAIL
![beglossy_gmail](https://user-images.githubusercontent.com/17157918/38076053-bab34e7e-3334-11e8-8f40-f98096ca155c.png)

NATIVE APP
![be

[2018-04-16 09:27] smiska commented on #35
updates are in production, bug is fixed.

[2018-04-16 09:27] #35 closed, assigned to stubendek

[2018-04-20 01:49] confettidc opened #37 "Bullet point layout problem"
Dear Support,

In our project 5ad9428c221f2e120099dc77, the bullet points were malformed in Thunderbird as below:
![default](https://user-images.githubusercontent.com/5524183/39026447-cd49e988-447f-11e8-95f7-905880e91c79.png)

In editor view:
![default](https://user-images.githubusercontent.com/5524183/39026481-fe6a9242-447f-11e8-844f-03eee820f0af.png)

We are already using the latest editor versi

[2018-05-11 07:27] agnieszkakowalska commented on #36
Hello, any news here?

[2018-05-11 07:56] rolficak commented on #36
There was a bug in Gmail app that time. Now, this issue shouldn't be
present in the newer Gmail app versions.
ᐧ

Roland Pokornyik
CEO, Co-founder @ EDMdesigner.com

+36-70-608-4433

*Schedule <http://www.meetme.so/Roland-EDMdesigner> a Skype call with me!*

On Fri, May 11, 2018 at 9:27 AM, agnieszkakowalska <notifications@github.com

[2018-05-14 13:28] smiska commented on #33
it is implemented already

[2018-05-14 13:28] #33 closed, assigned to stubendek, smiska

[2018-05-16 15:21] smiska commented on #37
Hi, This alignment problem didn't appear when I uploaded it to my account.
I guess it may have been related to the "line break removal" we were discussing in another thread last week. Did you see thi problem since then with lists?

![listalign](https://user-images.githubusercontent.com/16736043/40126293-461d82f4-592d-11e8-8815-975941d67431.png)

[2018-06-05 13:46] agnieszkakowalska opened #38 "Custom fonts displaying incorrectly in Outlook"
Hi, I have a question about the custom web fonts. I've added custom fonts with fallback fonts via dashboard
(font: 'Abril Fatface', cursive; url: https://fonts.googleapis.com/css?family=Abril+Fatface:regular)
but when using this font and opening message in desktop Outlook 2016 all fonts are replaced by Arial. It doesn't matter if my fallback font is cursive, serif or sans-serif. For example font:

[2018-06-13 07:15] agnieszkakowalska commented on #38
Hello guys, any news here? We wanted to start using custom fonts, but now we are wondering if this should be working in Outlook or not...

[2018-06-21 08:37] agnieszkakowalska commented on #38
Hello, I would appreciate any answer here, please :)

[2018-06-21 11:13] gyulanemeth commented on #38
Hello sorry that we haven't replied sooner.

You have to  use fallback fonts which are supported on windows. Unfortunately there are tons of issues with fonts on Outlooks... :( The ultimate default should be Times New Roman, but Arial sounds to be weird.

You should try out web safe fonts as final fallbacks and see if they work on the clients you want to support. Unfortunately we don't have a deta

[2018-06-21 12:27] agnieszkakowalska commented on #38
Thanks for your reply. We did some tests on our side and it came out that you are adding a class "mso-font-fix-arial" - which replaces all fonts fallbacks with Arial in Outlook. Is that true? How can fallbacks work in that case?

In general - can you share with us all necessary information about in which email clients those custom fonts will be working properly? Are there any email clients other t

[2018-06-26 07:41] agnieszkakowalska commented on #38
Hello, when can I expect an answer?

[2018-06-26 13:07] smiska commented on #38
Hi @agnieszkakowalska ,
I'm sorry for the late reply. I need to update myself in the topic first and I'll get back to you soon.
Custom font is not an easy topic and I understand that you need proper information.

So the questions are:
1, if mso-font-fix: Arial replaces fallback fonts with Arial in each case, and if so, how to apply fallback fonts in that case
2, in which clients are custom fonts w

[2018-07-09 11:38] agnieszkakowalska commented on #38
Hi @smiska yes, exactly.

[2018-07-11 13:27] agnieszkakowalska commented on #38
Hi @smiska, when can we expect an update?

[2018-07-12 09:47] smiska commented on #38
Hi @agnieszkakowalska ,

Sorry for the late reply.

I guess that you add custom fonts properly,
because the font-fix classes are only applied, when the
given font is not part of the websafe fonts.

We add these for Outlook clients only, when the given font is not
contained in this list:
"Arial","Georgia","Tahoma","Times New Roman","Trebuchet MS","Verdana"
Outlook clients can only fallback to one o

[2019-07-30 17:49] samtlewis opened #39 "Android 6 text align/width issue"
We are seeing an issue with Android 6 where text is aligned center but container is not stretching to 100% width when on every other client it is centered. Here is the offending section of html:

`<td valign="top"  style="padding-right:5px;padding-left:5px"><div  style="text-align:left;font-family:Trebuchet MS;font-size:14px;color:#000000

;line-height:14px;mso-line-height:exactly"><p style="paddi

[2019-07-31 14:47] iamgaborgithub commented on #39
Hi @samtlewis,
thank you for your perfectly detailed report. We started to work on it. I'll notify you tomorrow How It's going on.

[2019-09-26 06:06] cdonges opened #40 "Issue rendering buttons in outlook"
Also, Recently we are having issues with emails rendering on Outlook. I have attached some images that show the issue when rendering buttons. They appear as rectangles rather than buttons.
![Outlook desktop view of buttons](https://user-images.githubusercontent.com/521998/65662424-a118d500-e077-11e9-94ac-42930fd378ac.JPG)
![Button appearing that has been replaced](https://user-images.githubusercon

[2019-10-28 08:02] agnieszkakowalska opened #41 "problem with code generated for a button"
Hello,

We have a problem with generated buttons. Although they are displayed correctly, the HTML produced seems very strange, and it messes up with our clickmap which is shown after we have stats from clicking the links.

Here is the button:
![image](https://user-images.githubusercontent.com/17157918/67661377-5aade300-f961-11e9-934f-eaa1c62cc224.png)

and the code that resulted off of it:
[code]

[2019-10-28 13:24] blepati commented on #41
Hello,
Thank you for the feedback, the button HTML was made this way because of an outlook issue, but we aware of that cause another issues. We are already testing a new button approach to avoid this structure. I will let you know when we are able to release the changes

[2019-10-29 21:29] samtlewis commented on #41
We are seeing similar issues which cause our button elements to not be clickable in web clients

[code]

[2019-10-30 12:35] iamgaborgithub commented on #41
Hello @samtlewis and @agnieszkakowalska

We released a new version of our button yesterday and we changed the default behavior of our generator. From now we don't sanitize the code.
We removed the sanitization because that caused an issue with the new version of our button yesterday and also some issues in the past.

If you have problems because of this change, please let me know and we will help

[2019-10-31 13:27] #41 closed, assigned to nobody

[2019-10-31 13:35] iamgaborgithub commented on #40
Dear @cdonges

I'm really sorry about the delay. I skimmed over GitHub issues.
We had been releasing fixes for the button issues on Outlook since you reported it.

Could you please check that button again and confirm it that works well?

Kind regards,
Gábor
Project Manager @ EDMdesigner.com

[2019-12-20 10:59] confettidc opened #42 "Mobile settings issue"
Dear Support,

Project ID: 5dfc956b7fd67400c395f514
Editor version: r20191217

Customer reported that elements still shows in desktop even set "Hide on desktop" in some email clients, e.g.

![image](https://user-images.githubusercontent.com/5524183/71250433-a2962880-235a-11ea-9f76-007fd8f5ea54.png)

Result:
![image](https://user-images.githubusercontent.com/5524183/71250510-cd807c80-235a-11ea-8892

[2020-01-13 14:12] iamgaborgithub commented on #42
Hello @confettidc ,

Excuse me for my late answer.
I'll try to reproduce this issue tomorrow morning.
I'll notify you if I did successfully or I need a few other information.

Thank you for your report. I really appreciate it.

Best regards,
Gábor Kovács
Project Manager @ EDMdesigner.com

[2020-01-15 14:11] iamgaborgithub commented on #42
Hello @confettidc ,

Could you please check it again? I sent it to Gmail and it works fine for me.
Tomorrow I continue to test the setting in your email template. I'll be back with you soon.

Best regards,
Gábor Kovács
Project Manager @ EDMdesigner.com

[2020-01-16 02:04] confettidc commented on #42
Hi @iamgaborgithub ,

Thanks for your reply.

You may find the issue when click on "View full message" (or something like that in English)
![圖片](https://user-images.githubusercontent.com/5524183/72486942-636ad280-3847-11ea-9c8d-353784c3bdb7.png)

Also you may find the issue in Yahoo Android mobile app, we tested using HTC 11 (Android 8.0):
![圖片](https://user-images.githubusercontent.com/5524183/72

[2020-01-27 15:55] iamgaborgithub commented on #42
Hi @confettidc

Could you please send me a test email? My email address is gabor@edmdesigner.com.

I still can't reproduce the issue you sent.

Thanks.

[2020-01-29 01:37] confettidc commented on #42
Test email sent to gabor@edmdesigner.com, please help check, thanks

[2020-01-31 16:07] iamgaborgithub commented on #42
This test email is much shorter than the image you attached before. I don't have the "View full message" link now and it looks fine in my Gmail.

Honestly, I'm a bit out of ideas but I'll be back in it next Monday and I'll write to you about how it's going.

![Screenshot 2020-01-31 at 16 39 19](https://user-images.githubusercontent.com/48514402/73554418-f44acc00-444b-11ea-850b-47762a411422.png)